.box-container {
  display: flex;
}

.box {
  width: 500px;
  padding: 50px;
  margin: 20px;
  background-color: rgb(247, 241, 241);
}

.image-computer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.bottom-container {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.header {
  padding: 2px;
  text-align: center;
  background: #192b28;
  color: white;
  font-size: 30px;
}

#computer-title {
  display: flex;
  justify-content: center;
  font-size: larger;
}

#computer-description {
  display: flex;
  justify-content: center;
}

#price-and-button-box {
  display: flex;
  flex-direction: column;
}

#computer-price {
  margin-left: 185px;
}

#buy-button {
  margin-left: 150px;
  width: 100px;
}
